{#{{ dump(content.background_pictures) }}#}

<div {{ stimulus_controller('hero_section', {
    title: content.hero_title,
    description: content.hero_subtitle,
    pictures: content.background_pictures|map(p => p.url)
}) }}>Loading hero section ...</div>
