@import "tailwindcss";
@source not "../../../public";

@font-face {
    font-family: 'Commissioner';
    src: url('../assets/fonts/Commissioner/Commissioner-Regular.woff') format('woff'),
         url('../assets/fonts/Commissioner/Commissioner-Regular.woff2') format('woff2');

    unicode-range: U+65-90, U+97-122;
    font-display: swap;
}

@theme {
    --font-sans: 'Commissioner', sans-serif;
}

body {
    background-color: white;
}
