@import "tailwindcss";
@import "./_container.css";
@import "./_font-face.css";

@source not "../../../public";

@theme {
  --font-sans: "Commissioner", sans-serif;
  --font-montserrat-sans: "Montserrat", sans-serif;

  --font-md: 1rem;

  --color-dark: rgba(38, 38, 39, 1);
  --color-primary: rgba(252, 90, 14, 0.8);
  --color-foreground: #cda692;

  --breakpoint-xxl: 90rem;
}

body {
  background-color: white;
}

* {
  /*font-family: var(--font-sans), sans-serif;*/
}
