@import "tailwindcss";
@import "./_container.css";
@import "./_font-face.css";

@source not "../../../public";

@theme {
  --font-sans: "Commissioner", sans-serif;
  --font-montserrat-sans: "Montserrat", sans-serif;

  --font-md: 1rem;

  --color-dark: rgba(0, 0, 0, 8);

  --breakpoint-xxl: 90rem;
}

body {
  background-color: white;
}

* {
  /*font-family: var(--font-sans), sans-serif;*/
}
