@import "tailwindcss";
@import "./_container.css";
@import "./_font-face.css";

@source not "../../../public";

@theme {
  --font-sans: "Commissioner", sans-serif;
  --font-montserrat-sans: "Montserrat", sans-serif;

  --text-md: 15px;

  --color-dark: rgba(28, 28, 29, 1);
  --color-primary: oklch(62.7% 0.194 149.214);
  --color-foreground: #cda692;

  --breakpoint-xxl: 90rem;
}

body {
  background-color: white;
}

* {
  /*font-family: var(--font-sans), sans-serif;*/
}
