@import "tailwindcss";
@import "./_container.css";
@import "./_font-face.css";

@source not "../../../public";

@theme {
  --font-sans: "Commissioner", sans-serif;

  --font-md: 1rem;

  --color-dark: #111827;

  --breakpoint-xxl: 90rem;
}

body {
  background-color: white;
}
