{% extends 'base.html.twig' %}


{% block content %}
    <header class="w-full lg:h-[136px] landing-header">
        {% block header %}
            {% include 'includes/header.html.twig' %}
        {% endblock %}
    </header>

    <main class="lg:min-h-screen">
        {% block page_content %}{% endblock %}
    </main>


    {% block footer %}
        <footer class="bg-dark mt-2">
            <div class="container text-[15px] h-14 text-yellow-500 flex justify-between items-center">
                <p>Copyright {{ 'now'|date('Y') }} IT's</p>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
