{% extends 'base.html.twig' %}


{% block content %}
    <header class="w-full lg:h-28 landing-header">
        {% block header %}
            {% include 'includes/header.html.twig' %}
        {% endblock %}
    </header>

    <main class="lg:min-h-[500px]">
        {% block page_content %}{% endblock %}
    </main>

    <footer class="w-full bg-gray-200 h-80">
        {% block footer %}
            <p>Copyright {{ 'now'|date('Y') }} SULU</p>
        {% endblock %}
    </footer>
{% endblock %}
