<div>
    <section class="announcement-message w-full bg-emerald-600 lg:h-8 text-white text-center content-center">
        Nous sommes ouverts pour toutes les entreprises !
    </section>
    <section class="content-center h-16">
        <nav class="">
            <ul class="flex justify-center font-family-sans">
                <li>
                    <a href="{{ sulu_content_root_path() }}">Homepage</a>
                </li>

                {% for item in sulu_page_navigation_root_tree('main', 1, {
                    title: 'title',
                    url: 'url',
                }) %}
                    <li>
                        <a href="{{ sulu_content_path(item.url) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
</div>
