{% extends 'landing/base.html.twig' %}


{% block content %}
    <header class="w-full lg:h-24 landing-header">
        {% block header %}
            {% include 'landing/layouts/header.html.twig' %}
        {% endblock %}
    </header>

    <main class="lg:min-h-[calc(100vh-416px)]">
        {% block page_content %}{% endblock %}
    </main>

    <footer class="w-full bg-gray-200 h-80">
        {% block footer %}
            <p>Copyright {{ 'now'|date('Y') }} SULU</p>
        {% endblock %}
    </footer>
{% endblock %}
