{% extends 'pages/layout.html.twig' %}

{% block meta %}
    {{ include('@SuluWebsite/Extension/seo.html.twig', {
        seo: extension.seo|default([]),
        content: content|default([]),
        localizations: localizations|default([]),
        shadowBaseLocale: shadowBaseLocale|default(),
    }) }}
{% endblock %}


{% block page_content %}
    <section>
        {% include 'includes/sections/hero_section.html.twig' with { content: content } %}
    </section>
{% endblock %}
