{% extends 'pages/landing/layout.html.twig' %}


{% block page_content %}
    <section>
        {% include 'includes/sections/hero_section.html.twig' with { content: content } %}
    </section>
{% endblock %}
